
<button class="close control">Close</button>
<h2>What is it?</h2>
<p>
	The map shows a variety of freely available Open Government Data from
	the UK <a href="http://www.highways.gov.uk/">Highways Agency</a>.
</p>
<ul>
	<li>A-roads and motorways down to the roundabout and slip road
		level. <a href="roads-001.html">Full details</a>
	</li>
	<li>Live traffic information, speed, vehicle flow per hour, flow
		breakdown by vehicle length - categories 1-4, road occupancy etc..</li>
	<li>Variable message signs (VMS) and matrix signals with the live
		settings and street view integration. <a href="signs.html">Signs
			supported</a>. <a href="pictograms.html">VMS pictograms supported</a>
	</li>
	<li>Unplanned events, e.g. accidents, congestion etc.</li>
</ul>
<h2>Geeky details</h2>
<p>Developed using Backbone, underscore, jQuery, requirejs, jasmine,
	blanket, moment, Google maps V3. Backend processing with Ruby using
	gems including nokogiri, rmagick, polylines, haversine and proj4rb.</p>

